<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a href="index.html">Mersin Sağlık Hastanesi</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto" href="/Home/Anasayfa">Anasayfa</a></li>
                <li class="dropdown">
                    <a href="/Home/Anasayfa"><span>Kurumsal</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/Home/Business">Hakkımızda</a></li>
                        <li><a href="/Home/WhyUs">Neden Biz</a></li>
                        <li><a href="/Home/Service">Hizmetler</a></li>
                        <li><a href="/Home/Question">Sık Sorulan Sorular</a></li>
                   
                    </ul>
                </li>
                 
                <li class="dropdown">
                    <a href="/Home/Anasayfa"><span>Tıbbi Birimler</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a  href="/Home/Branch">Branşlar</a></li>         
                        <li><a  href="/Home/Doctor">Doktorlar</a></li>
                   
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="/Home/Gallery">Galeri</a></li>
              
                <li class="dropdown">
                    <a href="#"><span>Teknik Sayfalar</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/Admin/Topbar/Index">Admin</a></li>
                        <li><a href="/Admin/Login/LogOut">Çıkış Yap</a></li>
                   
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="/Home/Contact">İletişim</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        <a href="/Home/Booking" class="appointment-btn scrollto"><span class="d-none d-md-inline">Randevu Al</span></a>
    </div>
</header><!-- End Header -->