@model List<DataAccessLayer.Entities.Service>


<section id="services" class="services">
    <div class="container">
        <div class="section-title">
            <h2>Hizmetlerimiz</h2>
            <p>Sağlığınızı en üst düzeyde tutmak ve size özel kaliteli sağlık hizmetleri sunmak için buradayız.</p>
        </div>
        <div class="row">
                      @foreach (var item in Model)
            { 
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          
                <div class="icon-box">
                    <div class="icon"><i class="fas fa-@item.İcon"></i></div>
                    <h4><a href="">@item.Title</a></h4>
                    <p>@item.Description</p>
                </div>
              
            </div>
            }
        </div>
      
    </div>
</section><!-- End Services Section -->